body{
  background-color: black !important;
}

#root{
  background-color: rgb(255, 255, 255);
  height:990px auto;
}

.test{
  color: rgb(117, 9, 117) !important;
}


.imgGithub{
  border: 1px solid white;
  width: 100px;
  height: 100px;
}
.data-menu{
  width: 50%;
  margin: 0 auto !important
}
.reactlogo{
  width: 300px;
}